* {
    box-sizing: border-box;
}

html, body {
    background-color: white;
    height: 100%;
    font-family: 'Roboto', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    width: 100%;
    font-size: 18px;
}

body, h1, h2, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

svg {
    display: block;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
}

h1 {
    color:#6C85A6;
    font-size: 2.3rem;
    font-weight: 400;
}

h2 {
    color:#6C85A6;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.40;
}

.body-strong {
    font-weight:400;
}

p {
    color: #4A4B4C;
    font-size: 1rem;
    line-height: 1.50;
}

.body-large {
    color:#6C85A6;
    font-size: 1.16rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.black {
    color: #4A4B4C;
}

a {
    color:#6C85A6;
    font-size: .7rem;
    font-weight:400;
    text-decoration: none;
}

.header {
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.billboard {
    height: 100vh;
    position: relative;
}

.billboard::before {
    content:'';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #fff 0%, #F0F5FB 100%);
    top:0;
    right:0;
}

.billboard__content {
    text-align: left;
    width: 100%;
}

.billboard__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.logo {
    display: block;
    max-width: 100%;
}

.logo svg {
    width: 170px;
}

.navigation,
.navigation__list {
    display: flex;
    justify-content: space-between;
}


.nav-link {
    font-size: 1.27rem;
    display: inline-block;
    margin: 0 2rem;
}

.navigation__list li:last-child .nav-link {
    padding-right:0;
}


.social__item {
    display: block;
    padding: 5px;
    margin: 5px;
}

.social__item svg {
    fill:#B1C6E0;
    width: 30px;
}

.line::after {
    background: #E5E163;
    content: '';
    display: block;
    height: 2px;
    margin: 10px auto 0;
    width: 0;
    transition: width .15s ease-in-out;
}

.line:hover::after {
    width: 100%;
}

.footer {
    background: #F0F5FB;
}

.footer__rrss {
    align-items: center;
}

.footer-link:hover {
    color:#6C85A6;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 20px;
    position: relative;
    justify-content: space-between;
}

.section {
    padding: 0 0 0 0;
}

.proyectos {
    padding: 0 0 0 0;
}

.subtitle__section {
    font-size: 1.27rem;
    font-weight: 400;
    color: #6C85A6;
}

.reverse {
    flex-direction: row-reverse;
}

.column-title {
    padding: 20px 0 20px 0;
}

.big {
    font-size: 1.35rem;
    font-weight: 700;
}

.text-white {
    color: #fff;
}

.logo-footer {
    display: block;
    max-width: 100%;
    margin-bottom: 1rem;
}

.logo-footer svg {
    width: 100px;
}

.button {
    background-color: #fff;
    color:#6C85A6;
    border: 2px solid #E5E163;
    border-radius:6px;
    padding: 1.5rem;
    margin-top: 2rem;
    text-align:center;
    text-decoration: none;
    display:inline-block;
    font-size:1.16rem;
    font-weight: 400;
}

.button:hover {
    border: 2px solid #F5F4B8;
    background-color:#F5F4B8;
    transition: .3s;
}





/* MOBILE / max-width: 479px / 16 */
@media screen and (max-width: 29.9375em) {
    .footer__wrapper,
    .logo-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



/* IPAD / min-width: 768px / 16 */
@media screen and (min-width: 48em) {
    .row {
        display: flex;
        justify-content: space-between;
    }

    .column {
        width: calc(50% - 25px);
    }
    
    .flex-vert {
    display: flex;
    flex-direction: column;
    }
    
    .column-reverse {
    flex-direction: column-reverse;
    }

    .row-reverse {
    flex-direction: row-reverse;
    }

}




/* DESKTOP / min-width: 960px / 16 */
@media screen and (min-width: 60em) {

    .footer__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        font-size: 3.7rem;
        line-height: 7rem;
    }
    
    h2 {
        font-size: 2.4rem;
        line-height: 1.4;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.25;
    }
    
    .body-large {
        font-size:1.27rem;
        line-height: 1.9rem;
    }

    .billboard::before {
        width: 50%;
    }

    .billboard__content {
        width: 90%;
    }


}


















