* {
    box-sizing: border-box;
}

html, body {
    background-color: white;
    height: 100%;
    font-family: 'Roboto', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    width: 100%;
    font-size: 18px;
}

body, h1, h2, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

svg {
    display: block;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 20px;
    position: relative;
    justify-content: space-between;
}

.wrapper-conoceme {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px 80px 20px;
    position: relative;
    justify-content: space-between;
}

.center {
    justify-content:center;
    align-items:center;
    text-align:center;
    padding-bottom:2.5rem;
}

.title__proyecto {
    margin: 1rem 0 3rem 0;
}

.text-strong {
    color:#BFBB39;
    font-weight:400;
    background: #F9F8DC;
}

/*Header all*/

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    align-items: center;
    background:white;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 20px;
}

.logo svg {
    height: 2rem;
}








/* MOBILE / min-width: 479px / 16 */

/*Tipografia*/

h1 {
    color:#6C85A6;
    font-size: 2.3rem;
    font-weight: 400;
    line-height:3rem;
    margin-bottom: 1rem;
}

h2 {
    color:#6C85A6;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.40;
    margin: 0 0 1rem 0;
}

.body-strong {
    font-weight:400;
}

p {
    color: #4A4B4C;
    font-size: 1rem;
    line-height: 1.5rem;
}

.body-large {
    color:#6C85A6;
    font-size: 1.16rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 0 0 0.5rem 0;
}


/*Buttons*/

a {
    color:#6C85A6;
    font-size: 1rem;
    font-weight:400;
    text-decoration: none;
}

.button {
    background-color: #fff;
    color:#6C85A6;
    border: 2px solid #E5E163;
    border-radius:6px;
    padding: 1.5rem;
    margin: 1rem 0;
    text-align:center;
    text-decoration: none;
    display:inline-block;
    font-size:1.16rem;
    font-weight: 400;
}

.button:hover {
    border: 2px solid #F5F4B8;
    background-color:#F5F4B8;
    transition: .3s;
}

.arrow-right{
  display: inline-block;
  margin: 0 5px 0 20px;
  width: 0.7rem;
  height: 0.7rem;
  border-top: 2px solid #6C85A6;
  border-left: 2px solid #6C85A6;
  transform: rotate(135deg);
}




/*Header*/

.menu-open .navigation {
    left: 0;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}


/*Billboard*/

.billboard {
    height: 100vh;
    position: relative;
}

.billboard-tuandco {
    height: 100vh;
    position: relative;
    overflow:hidden;
    background: url(../assets/img/tuandco/principal-tuandco-hd-m.jpg) no-repeat #F8F9FB;
    background-size:contain;
    background-position:center;
}

.billboard__content {
    text-align: left;
    width: 100%;
    height: auto;
    align-items: center;
    display:block;
}

.billboard__contacto {
    text-align: left;
    width: 100%;
    height: auto;
    align-items: center;
    display:block;
}

.billboard__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}


/*Footer*/

.social__item {
    display: block;
    padding: 5px;
    margin: 5px;
}

.social__item svg {
    width: 40px;
}
.social__item svg path,
.social__item svg circle {
    fill:#B1C6E0;
}
.social__item:hover svg path,
.social__item:hover svg circle {
    fill:#6C85A6;
    transition: .10s;
}

.footer {
    background: #F0F5FB;
}

.footer__rrss {
    align-items: center;
    margin: 1rem 0 0 0;
}

.logo-footer {
    display: block;
    max-width: 100%;
    margin: 1rem 0;
}

.logo-footer svg {
    width: 100px;
}


/*Home-proyectos*/

.proyectos {
    padding: 0 0 3rem 0;
}

.gradient::before {
    content:'';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #fff 5%, #F0F5FB 100%);
    top:0;
    right:0;
}

.subtitle__section {
    font-size: 1.27rem;
    font-weight: 400;
    color: #6C85A6;
}

.reverse {
    flex-direction: row-reverse;
}

.column-title {
    margin: 20px 0 20px 0;
}


/*Paginas proyectos*/

.proyectos-list {
    color: #4A4B4C;
    font-size: 1rem;
    line-height: 2rem;
    display:block;
    list-style-type: disc;
    padding-left: 1rem;
}


/*Conoceme*/

.column {
    padding-top:1.5rem;
}


.two-columns {
    display:flex;
    justify-content:center;
}

.three-columns {
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.column__small {
    padding:0 1rem;
}

.title-h1 {
    margin-bottom: 2rem;
}



/* MOBILE / max-width: 479px / 16 */
@media screen and (max-width: 29.9375em) {

    /*Footer*/

    .footer__wrapper,
    .logo-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*Conoceme*/

    .img-conoceme {
        display:none;
    }

    .img-conoceme-m {
        display:block;
        margin-top: 70px;
        width: 100%;
    }


    /*Header*/


}

@media screen and (max-width: 59.9375em) {

    /*Menu responsive*/

    .navigation {
        background: white;
        height: 100vh;
        padding: 20px;
        display:flex;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        transition: left 300ms ease-in-out;
        text-align: center;
    }

    .mobile {
        display:block;
    }

    .navigation__list {
        display: block;
        align-items: center;
        margin:auto;
    }
    
    .navigation__link {
        font-size: 1.8rem;
        display: inline-block;
        margin: 0 2rem;
        padding: 30px 10px;
    }

    .line::after {
        background: #E5E163;
        content: '';
        display: block;
        height: 2.5px;
        margin: 10px auto 0;
        width: 0;
        transition: width .15s ease-in-out;
    }
    
    .line:hover::after {
        width: 100%;
    }

    .navigation__close {
        justify-content:flex-end;
        position:absolute;
        margin-left:75%;
        margin-top: 2rem;
        margin-right: 5rem;
    }



    .wrapper__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__wrapper, .logo-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .third {
        margin-top: 2rem;
    }



}


/* IPAD / min-width: 768px / 16 */
@media screen and (min-width: 48em) {

    /*Home-proyectos*/

    .row {
        display: flex;
        justify-content: space-between;
    }

    .column {
        width: calc(50% - 25px);
        padding-top:1rem;
    }
    
    .flex-vert {
    display: flex;
    flex-direction: column;
    }
    
    .column-reverse {
    flex-direction: column-reverse;
    }

    .row-reverse {
    flex-direction: row-reverse;
    }

    /*Footer*/

    .footer__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 70px 20px;
    }

    .logo-footer {
        margin-top:0.5rem;
    }


    /*Header*/

    .navigation__close {
        justify-content:flex-end;
        position:absolute;
        margin-left:90%;
        margin-top: 2rem;
        margin-right: 2rem;
    }

    .wrapper__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .billboard-tuandco {
        height: 100vh;
        position: relative;
        overflow:hidden;
        background: url(../assets/img/tuandco/principal-tuandco-hd.jpg) no-repeat #F8F9FB;
        background-size:contain;
        background-position:center;
    }


    /*Conoceme*/

    /*no quitar*/
    .img-conoceme-m {
        display:none;
    }

    .img-conoceme {
        margin-top: 70px;
        width: 900px;
    }

    .three-columns {
        display:flex;
        justify-content:center;
        flex-direction:row;
    }

    .column__small {
        padding:0 2rem;
    }
}




/* DESKTOP / min-width: 960px / 16 */
@media screen and (min-width: 60em) {

    /*Tipografia*/

    h1 {
        font-size: 3.7rem;
        margin-bottom: 1.5rem;
    }
    
    h2 {
        font-size: 2.4rem;
        line-height: 1.4;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 25px;
    }
    
    .body-large {
        font-size:1.27rem;
        line-height: 1.9rem;
    }


    /*Header*/


    .burger,
    .mobile,
    .navigation__close {
      display: none;
    }
  
    .desktop {
      display: block;
    }
  
    .navigation {
        display:flex;
        justify-content:flex-end;
    }

    .navigation__list {
      display: flex;
      align-items: center;
    }
  
    .navigation__link {
        font-size: 1.27rem;
        display: inline-block;
        margin: 0 2rem;
        padding: 0 10px;
    }

    .navigation__link li:last-child {
        padding-right:0;
    }

    .line::after {
        background: #E5E163;
        content: '';
        display: block;
        height: 2px;
        margin: 10px auto 0;
        width: 0;
        transition: width .15s ease-in-out;
    }
    
    .line:hover::after {
        width: 100%;
    }

    .line:active::after {
        width: 100%;
    }


    /*Billboard*/



    .billboard::before {
        width: 50%;
    }

    .billboard__content {
        width: 90%;
    }

    .billboard__contacto {
        width: 65%;
    }

    .title-h1 {
        margin-bottom: 3rem;
    }
    
}























